@font-face {
    font-family: "SFUIDisplay";
    src: url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.eot");
    src: url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.woff") format("woff"),
    url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SF UI Display/Regular/SFUIDisplay-Regular.svg#SFUIDisplay") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SFUIDisplay";
    src: url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.eot");
    src: url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.woff") format("woff"),
    url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.ttf") format("truetype"),
    url("../fonts/SF UI Display/Medium/SFUIDisplay-Medium.svg#SFUIDisplay") format("svg");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SFUIDisplay";
    src: url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.eot");
    src: url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.woff") format("woff"),
    url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.ttf") format("truetype"),
    url("../fonts/SF UI Display/SemiBold/SFUIDisplay-SemiBold.svg#SFUIDisplay") format("svg");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "SFUIDisplay";
    src: url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.eot");
    src: url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.woff") format("woff"),
    url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.ttf") format("truetype"),
    url("../fonts/SF UI Display/Bold/SFUIDisplay-Bold.svg#SFUIDisplay") format("svg");
    font-style: normal;
    font-weight: 700;
}

html{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

*,
*:before,
*:after{
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: SFUIDisplay, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: calc(var(--vh, 1vh) * 2.4);
    line-height: 20px;
    line-height: calc(var(--vh, 1vh) * 3);
    color: #FFF;
    background-color: #101010;
    overflow: hidden;
}

h1, h2{
    font-style: normal;
    font-weight: 700;
}

h1{
    font-size: 30px;
    font-size: calc(var(--vh, 1vh) * 5);
    line-height: 36px;
    line-height: calc(var(--vh, 1vh) * 6);
}

h2, h3{
    font-size: 24px;
    font-size: calc(var(--vh, 1vh) * 3.6);
}

h2{
    line-height: 28px;
    line-height: calc(var(--vh, 1vh) * 4.2);
}

h3{
    line-height: 29px;
    line-height: calc(var(--vh, 1vh) * 4.34);
    letter-spacing: 1px;
}

h3 span{
    font-size: 16px;
    font-size: calc(var(--vh, 1vh) * 2.4);
    line-height: 22px;
    line-height: calc(var(--vh, 1vh) * 3.3);
    letter-spacing: 0.5px;
}

nav{
    position: absolute;
    width: 100%;
    top: 36px;
    top: calc(var(--vh, 1vh) * 5.4);
    z-index: 1;
    padding: 0 15px;
    padding: 0 4%;
}

nav>ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

nav>ul>li{
    z-index: 1;
}

nav>ul>li>a,
nav>ul>li>a:visited,
nav>ul>li>a:active{
    text-decoration: none;
    color: #FFF;
}

nav>ul>li>a:hover{
    color: #F30;
}

.container{
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
}

.background{
    background: url("../image/header_background.png") no-repeat;
    -moz-background-size: 100% 100vh;
    -webkit-background-size: 100% 100vh;
    -o-background-size: 100% 100vh;
    background-size: 100% 100vh;
    -moz-background-size: 100% calc(var(--vh, 1vh) * 100);
    -webkit-background-size: 100% calc(var(--vh, 1vh) * 100);
    -o-background-size: 100% calc(var(--vh, 1vh) * 100);
    background-size: 100% calc(var(--vh, 1vh) * 100);
    position: absolute;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.header__nav-btn{
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url("../image/menu-icon.svg") no-repeat;
    position: absolute;
    top: 15px;
    top: calc(var(--vh, 1vh) * 2.25);
    left: 15px;
    left: 4%;
    z-index: 1;
}

.offer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.offer__title,
.offer__text,
.offer__table{
    width: 80%;
    padding-left: 12px;
    padding-left: 3.2%;
}

.offer__title{
    margin: 0 0 2.25vh;
    margin: 0 0 calc(var(--vh, 1vh) * 2.25);
}

.offer__text{
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin: 0;
}

.link{
    font-weight: 600;
    display: inline-block;
    font-size: 11px;
    font-size: calc(var(--vh, 1vh) * 1.65);
    line-height: 13px;
    line-height: calc(var(--vh, 1vh) * 1.95);
    letter-spacing: 1.3px;
    width: 80%;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

.link:active,
.link:visited{
    color: #FFF;
}

.btn{
    padding: 21px 57px;
    padding: calc(var(--vh, 1vh) * 3.15) 15.2%;
    background-color: #23C3B2;
    border-radius: 5px;
    width: auto;
}

.btn:hover{
    background-color: #FFF;
    color: #23C3B2;
}

.gradient{
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) no-repeat center bottom;
    background-size: 100% 61vh;
    background-size: 100% calc(var(--vh, 1vh) * 61);
    position: absolute;
}

.arrow_top{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header__scroll{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.header__scroll-btn{
    position: absolute;
    bottom: 25px;
    bottom: calc(var(--vh, 1vh) * 4.2);
    display: inline-block;
    width: 14px;
    height: 8px;
    background: url("../image/arrow_bottom.svg") no-repeat center center;
}

.film-download .background{
    background-image: url("../image/film-load_background.png");
    opacity: 1;
    filter: alpha(opacity=100);
}

.film-download .offer{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 12vh;
    margin-top: calc(var(--vh, 1vh) * 12);
}

.film-download .offer__text,
.gift .offer__text{
    font-size: 15px;
    font-size: calc(var(--vh, 1vh) * 2.25);
}

.optimal .container{
    border: 8px solid #23C3B2;
}

.optimal .background{
    background-image: url("../image/optimal_background.png");
    opacity: 1;
    filter: alpha(opacity=100);
}

.optimal .gradient{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%) no-repeat center bottom;
    background-size: 100% 61vh;
    background-size: 100% calc(var(--vh, 1vh) * 61);
}

.optimal__title{
    width: 80%;
    margin: 5.4vh auto 0;
    margin: calc(var(--vh, 1vh) * 5.4) auto 0;
    padding-left: 12px;
    padding-left: 3.2%;
    position: relative;
}

.optimal .offer{
    margin: 16.34vh auto 6vh;
    margin: calc(var(--vh, 1vh) * 16.34) auto calc(var(--vh, 1vh) * 6);
    height: auto;
}

.optimal .offer__title{
    font-size: 36px;
    font-size: calc(var(--vh, 1vh) * 5.4);
    line-height: 43px;
    line-height: calc(var(--vh, 1vh) * 6.47);
    margin-bottom: 1.5vh;
    margin-bottom: calc(var(--vh, 1vh) * 1.5);
}

.optimal .offer__text{
    line-height: 22px;
    line-height: calc(var(--vh, 1vh) * 3.3);
    letter-spacing: 0.5px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.try{
    width: 100%;
    position: relative;
}

.try__title,
.try__text,
.try__btn-container,
.try__info,
.offer__btn-container{
    width: 80%;
    margin: 0 auto;
    padding-left: 12px;
    padding-left: 3.2%;
}

.try__title{
    line-height: 30px;
    line-height: calc(var(--vh, 1vh) * 4.5);
    margin-bottom: 2.4vh;
    margin-bottom: calc(var(--vh, 1vh) * 2.4);
}

.try__btn-container{
    margin-bottom: 1.5vh;
    margin-bottom: calc(var(--vh, 1vh) * 1.5);
}

.try__text{
    font-size: 12px;
    font-size: calc(var(--vh, 1vh) * 1.8);
    line-height: 14px;
    line-height: calc(var(--vh, 1vh) * 2.1);
    letter-spacing: 0.833333px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
}

.try__info{
    margin-top: 3vh;
    margin-top: calc(var(--vh, 1vh) * 3);
    display: block;
    color: #E5E5E5;
}

.gift .background{
    background: url("../image/gift_background.png") no-repeat center bottom -1.65vh;
    background: url("../image/gift_background.png") no-repeat center bottom calc(var(--vh, 1vh) * -1.65);
    -moz-background-size: 91.2% 64vh;
    -webkit-background-size: 91.2% 64vh;
    -o-background-size: 91.2% 64vh;
    background-size: 91.2% 64vh;
    -moz-background-size: 91.2% calc(var(--vh, 1vh) * 64);
    -webkit-background-size: 91.2% calc(var(--vh, 1vh) * 64);
    -o-background-size: 91.2% calc(var(--vh, 1vh) * 64);
    background-size: 91.2% calc(var(--vh, 1vh) * 64);
    opacity: 1;
    filter: alpha(opacity=100);
}

.gift .gradient{
    background: linear-gradient(179.79deg, rgba(16, 16, 16, 0) 37.5%, #101010 90.39%) no-repeat center bottom;
    background-size: 100% 37.6vh;
    background-size: 100% calc(var(--vh, 1vh) * 37.6);
}

.gift .offer{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 13.8vh;
    padding-top: calc(var(--vh, 1vh) * 13.8);
}

.gift .offer__title,
.gift .offer__text{
    width: 85%;
    padding-left: 16px;
    padding-left: 4.27%;
}

.pay .background{
    background-image: none;
    background-color: #101010;
    position: absolute;
    z-index: 1;
}

.pay .offer{
    z-index: 2;
}

.pay .offer__title{
    margin-bottom: 4.5vh;
    margin-bottom: calc(var(--vh, 1vh) * 4.5);
}

.offer__table{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offer__table-item{
    font-weight: 500;
    font-size: 15px;
    font-size: calc(var(--vh, 1vh) * 2.25);
    line-height: 18px;
    line-height: calc(var(--vh, 1vh) * 2.7);
    width: 50%;
    margin: 0 0 6vh;
    margin: 0 0 calc(var(--vh, 1vh) * 6);
}

.offer__table p:nth-child(2){
    padding-left: 17px;
    padding-left: 4.53%;
}

.offer__table p:nth-child(4){
    padding-left: 12px;
    padding-left: 3.2%;
}

.offer__table p:nth-child(4){
    margin-bottom: 7.8vh;
    margin-bottom: calc(var(--vh, 1vh) * 7.8);
}

.offer__table-item span{
    font-weight: 700;
    font-size: 20px;
    font-size: calc(var(--vh, 1vh) * 3);
    line-height: 24px;
    line-height: calc(var(--vh, 1vh) * 3.6);
}

.gift .offer__btn{
    font-size: 13px;
    font-size: calc(var(--vh, 1vh) * 1.95);
    padding: 20px 49px 19px;
    padding: calc(var(--vh, 1vh) * 3) 13% calc(var(--vh, 1vh) * 2.85);
}

.show_off{
    width: 0;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -webkit-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -moz-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -o-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
}

.show_on{
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -webkit-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -moz-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    -o-transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
    transition: width 0.5s ease,
    height 0.5s ease,
    opacity 0.5s ease-out;
}

.hidden{
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -webkit-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -moz-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -o-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    transition: transform 0.5s ease,
    opacity 0.5s ease-out;
}

.no-show{
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    -ms-transition: width 1s ease,
    opacity 1s ease-out;
    -webkit-transition: width 1s ease,
    opacity 1s ease-out;
    -moz-transition: width 1s ease,
    opacity 1s ease-out;
    -o-transition: width 1s ease,
    opacity 1s ease-out;
    transition: width 1s ease,
    opacity 1s ease-out;
}

.visible{
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -webkit-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -moz-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    -o-transition: transform 0.5s ease,
    opacity 0.5s ease-out;
    transition: transform 0.5s ease,
    opacity 0.5s ease-out;
}

.show{
    filter: alpha(opacity=100);
    opacity: 1;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    -ms-transition: width 1s ease,
    opacity 1s ease-out;
    -webkit-transition: width 1s ease,
    opacity 1s ease-out;
    -moz-transition: width 1s ease,
    opacity 1s ease-out;
    -o-transition: width 1s ease,
    opacity 1s ease-out;
    transition: width 1s ease,
    opacity 1s ease-out;
}

.scroll{
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.section{
    position: absolute;
    width: 100%;
}